spring.datasource.url=jdbc:postgres://<SEE HEROKU CREDENTIALS https://data.heroku.com/datastores/3b8dd06d-7906-4b51-8533-fd5fae8eb1bd#administration>
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>

spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.maxActive=10
spring.datasource.maxIdle=5
spring.datasource.minIdle=2
spring.datasource.initialSize=5
spring.datasource.removeAbandoned=true